<div class="row">
  <div class="col-12 m-t-30">
    <p class="text-muted">
      Система, която е предназначена за преподаватели и студенти. Тя улеснява
      провеждането на контролни и изпити. Предоставя възможност на
      преподавателите лесно да създават и управляват тестове за конкретен
      предмет. Чрез тази система те могат да определят времето, с което
      разполагат студентите, за решаване на теста, броя на въпросите, както и да
      получават статистики за резултатите от проведените контролни. При завършен
      тест се изпраща имейл до преподавателя, който го е създал. Студентите имат
      възможност да се явяват на контролни без регистрация в системата. Те
      трябва да въведат имейл, на който да получат обратна връзка, и факултетен
      номер. Студентите се включват към провеждането на тест чрез специален код.
      При предаване на отговорите, те получават имейл за обратна връзка с
      крайната оценка, както и имат възможност да прегледат своя резултат на
      всеки въпрос.
    </p>
    <br />
    <div class="card-group">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card" style="height: 100%;" [routerLink]="['/component/progressbar']">
            <img
              class="card-img-top img-responsive"
              src="../../assets/images/exams.jpeg"
              height="290px"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-title">Налични тестове</h3>
              <p class="card-text">
                Преподавателят да може да създава, да редактира и изтрива
                тестове.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card" style="height: 100%;" [routerLink]="['/component/rating']">
            <img
              class="card-img-top img-responsive"
              src="../../assets/images/results.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-title">Резултати</h3>
              <p class="card-text">
                Преподавателят да има достъп до статистика за крайните оценки от
                тест.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card" style="height: 100%;">
            <img
              class="card-img-top img-responsive"
              src="../../assets/images/about.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-title">За нас</h3>
              <span class="card-text">
                Системата представлява курсов проект по дисциплина: Проектиране
                и интегриране на софтуерни системи
                <br />
                <br />
                <h5>Изготвили:</h5>

                <ol>
                  <li>Никол Емануилова, 61987</li>
                  <li>Силвия Иванова, 61999</li>
                </ol>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
