<form class="login100-form validate-form" #loginForm="ngForm">
  <div class="wrap-input100 validate-input m-b-26">
    <span class="label-input100">Име</span>
    <input
      class="input100"
      type="text"
      name="title"
      required
      minlength="4"
      #title="ngModel"
      [(ngModel)]="model.title"
      (change)="updateExam()"
      placeholder="Въведете име на изпит"
    />
    <span class="focus-input100"></span>
    <div
      *ngIf="title.invalid && (title.dirty || title.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="title?.errors.required">
        Полето е задължително
      </div>
      <div *ngIf="title?.errors.minlength">
        Име трябва да е с дължина поне 4 символа
      </div>
    </div>
  </div>

  <div class="wrap-input100 validate-input m-b-26" style="cursor: not-allowed;">
    <span class="label-input100">Код</span>
    <input
      class="input100"
      type="text"
      name="code"
      disabled
      #code="ngModel"
      [(ngModel)]="model.code"
    />
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input m-b-18">
    <span class="label-input100">Брой въпроси</span>
    <input
      class="input100"
      type="number"
      name="countQuestions"
      required
      #countQuestions="ngModel"
      [(ngModel)]="model.countQuestions"
      (change)="updateExam()"
      value="{{ model.countQuestions }}"
      placeholder="0"
    />
    <span class="focus-input100"></span>
    <div
      *ngIf="
        countQuestions.invalid &&
        (countQuestions.dirty || countQuestions.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="countQuestions?.errors.required">
        Полето е задължително
      </div>
    </div>
  </div>

  <div class="wrap-input100 validate-input m-b-18">
    <span class="label-input100">Време (минути)</span>
    <input
      class="input100"
      type="number"
      name="timeLimit"
      required
      #timeLimit="ngModel"
      [(ngModel)]="model.timeLimit"
      (change)="updateExam()"
      placeholder="Въведете време (минути)"
    />
    <span class="focus-input100"></span>
    <div
      *ngIf="timeLimit.invalid && (timeLimit.dirty || timeLimit.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="timeLimit?.errors.required">
        Полето е задължително
      </div>
    </div>
  </div>
</form>

<!------------------------------- Questions table --------------------------------->

<div class="card">
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <i
          class="fa fa-plus-circle fa-4x"
          style="color: #218838"
          aria-hidden="true"
          (click)="addQuestion()"
        ></i>
      </span>
      <table
        class="table table-bordered table-responsive-md table-striped text-center"
      >
        <tr>
          <th class="text-center" width="10%">№</th>
          <th class="text-center" width="70%">Въпрос</th>
          <th class="text-center" width="20%">Действия</th>
        </tr>
        <tr *ngFor="let question of model.questions; let id = index">
          <td>
            <span>{{ question.orderId }}</span>
          </td>
          <td class="text-left">
            <span
              contenteditable="true"
              (change)="changeValueQuestionTitle(question.orderId, $event)"
              >{{ question.title }}</span
            >
          </td>

          <td>
            <span class="table-remove">
              <span class="table-remove">
                <button
                  type="button"
                  mdbBtn
                  color="danger"
                  rounded="true"
                  size="sm"
                  class="my-0"
                  (click)="openModal(preview, question.orderId)"
                >
                  <i
                    class="fa fa-pencil-square-o fa-lg ml-2"
                    style="color: #17A2B8"
                    aria-hidden="true"
                  ></i>
                </button>
              </span>
              <span class="table-remove">
                <button
                  type="button"
                  mdbBtn
                  color="danger"
                  rounded="true"
                  size="sm"
                  class="my-0"
                  (click)="removeQuestion(id)"
                >
                  <i
                    class="fa fa-trash fa-lg ml-2"
                    style="color: #F62D51"
                    aria-hidden="true"
                  ></i>
                </button>
              </span>
            </span>
          </td>
        </tr>
        <tr *ngIf="!(model.questions && model.questions.length > 0)">
          <td colspan="3">
            Няма данни
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!------------------------------- Save --------------------------------->

<div class="pull-right" style="padding: 1.25em">
  <button
    class="btn btn-block btn-danger text-white ml-3"
    [routerLink]="['/component/teacher-exam']"
  >
    Назад
  </button>
</div>

<!------------------------------- Modal --------------------------------->

<ng-template #preview let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ model.questions[orderId - 1].title }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!------------------------------- Answers table --------------------------------->

    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <i
          class="fa fa-plus-circle fa-4x"
          style="color: #218838"
          aria-hidden="true"
          (click)="addAnswer()"
        ></i>
      </span>
      <table
        class="table table-bordered table-responsive-md table-striped text-center"
      >
        <tr>
          <th class="text-center" width="10%">№</th>
          <th class="text-center" width="70%">Отговор</th>
          <th class="text-center" width="10%">Правилен</th>
          <th class="text-center" width="10%">Действия</th>
        </tr>
        <tr
          *ngFor="
            let answer of model.questions[orderId - 1].answers;
            let id = index
          "
        >
          <td>
            <span>{{ answer.orderId }}</span>
          </td>
          <td class="text-left">
            <span
              contenteditable="true"
              (blur)="changeValueAnswerTitle(answer.orderId, $event); modal.close('Close click')"
              >{{ answer.title }}</span
            >
          </td>
          <td class="text-center">
            <input
              type="checkbox"
              name="answers"
              [ngModel]="answer.correct"
              (change)="selectAnswer(answer.orderId)"
            />
          </td>
          <td>
            <span class="table-remove">
              <span class="table-remove">
                <button
                  type="button"
                  mdbBtn
                  color="danger"
                  rounded="true"
                  size="sm"
                  class="my-0"
                  (click)="removeAnswer(answer.id)"
                >
                  <i
                    class="fa fa-trash fa-lg ml-2"
                    style="color: #F62D51"
                    aria-hidden="true"
                  ></i>
                </button>
              </span>
            </span>
          </td>
        </tr>
        <tr
          *ngIf="
            !(
              model.questions[orderId - 1].answers &&
              model.questions[orderId - 1].answers.length > 0
            )
          "
        >
          <td colspan="4">
            Няма данни
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Close click')"
    >
      Затвори
    </button>
  </div>
</ng-template>
