<div *ngIf="!isExamStarted" class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div
        class="login100-form-title"
        style="background-image: url(../../assets/login/images/bg-01.jpg);"
      >
        <span class="login100-form-title-1">
          {{ exam.title }}
        </span>
      </div>

      <form class="login100-form validate-form">
        <div
          class="wrap-input100 validate-input m-b-26"
          data-validate="Username is required"
        >
          <span class="label-input100">Код</span>
          <input
            class="input100"
            type="text"
            name="username"
            [(ngModel)]="examCode"
            placeholder="Въведете код за достъп"
          />
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button
            class="btn btn-block btn-info-custom text-white ml-3"
            [disabled]="examCode && examCode.length > 0 ? false : true"
            (click)="examCode && examCode.length ? startExam() : false"
          >
            Начало
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="isExamStarted" class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 wrap-large">
        <div
          class="login100-form-title"
          style="background-image: url(../../assets/login/images/bg-01.jpg);"
        >
          <span class="login100-form-title-1">
            {{ exam.title }}
          </span>
        </div>
  
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="card no-border">
                <div class="card-body">
                  <div id="table" class="table-editable">
                    <table
                      class="table table-bordered table-responsive-md table-striped"
                    >
                      <tr>
                        <th>{{ orderId }}</th>
                        <th>
                          {{ exam.questions[orderId - 1].title }}
                        </th>
                      </tr>
                      <tr
                        *ngFor="let answer of exam.questions[orderId - 1].answers"
                      >
                        <td>
                          <input
                            type="checkbox"
                            name="answers"
                            [ngModel]="answer.selected"
                            (change)="selectAnswer(answer.intId)"
                          />
                        </td>
                        <td>
                          <span> {{ answer.title }}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
    
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <button
                        class="btn btn-info-custom text-white"
                        (click)="previousQuestion()"
                        [disabled]="
                          exam.questions[orderId - 1].orderId == 1 ? true : false
                        "
                      >
                        Назад
                      </button>
    
                      <button
                        class="btn btn-info-custom text-white"
                        (click)="nextQuestion()"
                        [disabled]="
                          exam.questions[orderId - 1].orderId == exam.countQuestions
                            ? true
                            : false
                        "
                      >
                        Напред
                      </button>
    
                      <button
                        class="btn btn-success text-white"
                        (click)="finishExam()"
                      >
                        Приключване на тест
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
              style="padding: 1.25rem;"
            >
              <div class="card">
                <div class="card-header bg-success text-white">
                  Информация
                </div>
                <div class="card-body text-center">
                  <h1>1 ЧАС 30 МИНУТИ 10 СЕК</h1>
                </div>
              </div>
    
              <br /><br />
    
              <div class="card">
                <div class="card-header bg-success text-white">
                  ВЪПРОСИ
                </div>
                <div class="card-body card-text text-black">
                  <span  *ngFor="let question of exam.questions">
                      <button
                        [ngClass]="calculateClasses(question.orderId)"
                        (click)="loadQuestion(question.orderId)"
                      >
                        {{question.orderId}}
                      </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>


        