.btn-info-custom {
    background-color: #17a2b8 !important;
}

.btn {
    margin: 5px;
    /* width: 100%; */
}

.wrap-large {
    width: 1870px;
}

.no-border {
    border: 0px;
}

.answered {
    background-color: green;
}

.not-answered {
    background-color: gray;
}