<nav class="sidebar-nav">
    <ul id="sidebarnav">
		<li class="nav-devider"></li>
        <li class="sidebar-item" *ngFor="let sidebarnavItem of sidebarnavItems">
            <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title}}</div>
            <a class="sidebar-link waves-effect waves-dark"
            [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;" (click)="addExpandClass(sidebarnavItem)">
            <i [ngClass]="[sidebarnavItem.icon]"></i>
            <span class="hide-menu">{{sidebarnavItem.title}}</span>
        </a>
        </li>
    </ul>
</nav> 