<div class="row">
  
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor="let exam of exams">
      <div class="card">
          <div class="card-body">
              <h3 class="card-title">{{exam.title}}</h3>

              <ng-template #starTemplate let-fill="fill">
                <span *ngIf="fill === 100" class="star full">&#9733;</span>
                <span *ngIf="fill === 0" class="star">&#9733;</span>
                <span *ngIf="fill < 100 && fill > 0" class="star">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>

              <ngb-rating [(rate)]="exam.average" [starTemplate]="starTemplate" [readonly]="true" max="6"></ngb-rating>
              <div>Средноаритметична оценка: <b>{{exam.average}}</b></div>
              <div>Брой студенти: <b>{{exam.countQuestions}}</b></div>
      
      </div>
      </div>
  </div> 
</div>