<div class="card">
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success">
          <i
            class="fa fa-plus-circle fa-4x"
            style="color: #218838"
            aria-hidden="true"
            (click)="addExam()"
          ></i>
        </a>
      </span>
      <table
        class="table table-bordered table-responsive-md table-striped text-center"
      >
        <tr>
          <th class="text-center">№</th>
          <th class="text-center">Код</th>
          <th class="text-center">Име</th>
          <th class="text-center">Брой въпроси</th>
          <th class="text-center">Време (минути)</th>
          <th class="text-center">Действия</th>
        </tr>
        <tr *ngFor="let exam of examList; let id = index">
          <td>
            <span>{{ id + 1 }}</span>
          </td>
          <td>
            <span>{{ exam.code }}</span>
          </td>
          <td class="text-left">
            <span>{{ exam.title }}</span>
          </td>
          <td>
            <span>{{ exam.countQuestions }}</span>
          </td>
          <td>
            <span>{{ exam.timeLimit }}</span>
          </td>
          <td>
            <span class="table-remove">
              <button
                type="button"
                mdbBtn
                color="danger"
                rounded="true"
                size="sm"
                class="my-0"
                (click)="previewExam(exam.id)"
              >
                <i
                  class="fa fa-eye fa-lg"
                  style="color: #28A745"
                  aria-hidden="true"
                ></i>
              </button>
            </span>
            <span class="table-remove">
              <button
                type="button"
                mdbBtn
                color="danger"
                rounded="true"
                size="sm"
                class="my-0"
                (click)="editExam(exam.id)"
              >
                <i
                  class="fa fa-pencil-square-o fa-lg ml-2"
                  style="color: #17A2B8"
                  aria-hidden="true"
                ></i>
              </button>
            </span>
            <span class="table-remove">
              <button
                type="button"
                mdbBtn
                color="danger"
                rounded="true"
                size="sm"
                class="my-0"
                (click)="openModal(delete, id)"
              >
                <i
                  class="fa fa-trash fa-lg ml-2"
                  style="color: #F62D51"
                  aria-hidden="true"
                ></i>
              </button>
            </span>
          </td>
        </tr>
        <tr *ngIf="!examList || examList.length == 0" >
            <td colspan="6">
                <span>Няма данни</span>
              </td>
          </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->

<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Изтриване на въпрос</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Сигурни ли сте, че искате на изтриете избрания тест?</h5>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="deleteExam(); modal.close('Close click')"
    >
      Потвърди
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Close click')"
    >
      Затвори
    </button>
  </div>
</ng-template>
